@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-primary: #1c1c22;
  --color-accent: #00ff99;
  --color-accentHover: #00e187;
  --font-family: var(--font-inter);
  --color-lightTheme: #ffffff;
  /* screen */
  --breakpoint-xs: 375px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1200px;
}

@layer base {
  body {
    @apply bg-primary text-white leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}
.text-outline {
  -webkit-text-stroke: 1px #ffffff;
}
.text-outline-hover {
  -webkit-text-stroke: 1px oklch(0.88 0.2134 155.95);
}
